<!DOCTYPE html> 
<html>
<head>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
	<div id="header"></div>
	<div id="twitter-logo"></div>	

	
	<div id="twitter-input">
		<form action="/" method="POST">
			<p id="search-title">Search for a hashtag: </p>
			<br/>			<br/>
			<input type="text" name="hashtag">
			<br/>
			<input type="submit">
      <input onclick="location.href = '/count'" id="start-button" type="button" value="Start">
		</form>
	</div>

</body> 

</html>
