<!DOCTYPE html> 
<html>
<head>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
	<div id="twitter-input">
		<form action="/" method="POST">
			<p id="search-title">Search for a hashtag: </p>
			<br/>			<br/>
			<input type="text" name="hashtag">
			<br/>
			<input type="submit">
		</form>
	</div>

</body> 
</html>
